
@{
    ViewData["Title"] = "Album";
}
@model lab2.album.model.Album;

<h1>Albums</h1>

<form asp-controller="AlbumCalculator" asp-action="Album" method="post">
    <div class="text-center">
        <label asp-for="pathToAlbums"></label>
        <input id="inputPathToAlbums" type="text" asp-for="pathToAlbums" />
        <input type="submit" value="Submit" asp-action="Album" />
    </div>

    <h3>@ViewData["Albums"]</h3>

</form>