@{
    ViewData["Title"] = "ImageReviewer";
}
@model lab1.imagereviewer.model.ImageReviewer

    <h1>Image reviewer</h1>

<form asp-controller="ImageReviewer" asp-action="ImageReviewer" method="post" runat="server">
    <div class="text-center">
        <asp:Label asp-for="pathToImage" runat="server" Text="Input path to image"></asp:Label>
        <textarea type="text" asp-for="pathToImage"></textarea>
        <input type="submit" value="Get image" asp-action="ImageReviewer" />
</div>

    <img src="data:image/jpeg;charset=utf-8;base64,@ViewData["Result"]"/>
</form>